* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

body {
    background-color: black;
}

body > div {
    background-color: #fff;
    max-width: 1000px;
    margin-inline: auto;
    margin-block: 30px;
    padding: 40px;
    border-radius: 14px;
}

div img {
    width: 37%;
    border-radius: 12px;
    margin-bottom: 20px;
}